.header-container {
  background: #d9e1f3;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 2px;
  height: 156px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  display: flex;
}
.tips {
  width: 4px;
  height: 40px;
  background: #518df1;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  top: 50%;
  left: 4px;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-user {
  width: 400px;
  min-width: 400px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background: #fff;
  border-radius: 8px 0 0 8px;
  color: #333;
  border-right: 2px dashed #dfeafc;
  position: relative;
}

.header-user::before {
  content: "";
  width: 12px;
  height: 6px;
  display: block;
  background-color: #d9e1f3;
  border-radius: 6px 6px 0 0;
  position: absolute;
  right: -7px;
  bottom: 0px;
}

.header-user::after {
  content: "";
  width: 12px;
  height: 6px;
  display: block;
  background-color: #d9e1f3;
  border-radius: 0 0 6px 6px;
  position: absolute;
  right: -7px;
  top: 0px;
}

.header-plan {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  /*margin-left: 15px;*/
  background: #fff;
}

.add-btn {
  cursor: pointer;
}

.add-btn:hover {
  background: #4085ea;
}

.add-btn:hover .add-btn-title {
  color: #fff;
}

.add-btn:hover .icon {
  display: none;
}

.icon-active {
  display: none;
  line-height: 24px;
  text-align: center;
}

.add-btn:hover .icon-active {
  display: block;
}

.toggle-item:hover {
  background: #d8e6f9 !important;
}

.toggle-item:last-child:hover {
  background: #ffe6d5 !important;
}

.add-icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #4085ea;
}

.type-item:hover {
  background: #4085ea;
  color: #fff;
}

.type-item:hover .tip {
  border-color: #fff;
  background: #fff;
}

.type-item:hover .times-icon {
  display: none;
}

.type-item:hover .add-icon {
  display: block;
}
