.round-active {
    background: linear-gradient(142deg, #89C1F9 0%, #518DF1 100%) !important;
}

.round-active .round-name,
.round-active  .finish-text{
    color: #fff;
}

.teacher-item {
    cursor: pointer;
    position: relative;
}

.teacher-item .line {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    background: #518df1;
}

.teacher-item:hover {
    border-color: #518df1;
}

.teacher-evaluated .line {
    background-color: #ffa237;
}
.teacher-evaluated:hover {
    border-color: #ffa237;
}

.level {
    color: #ffa237;
    font-weight: 600;
}

.level-desc-title {
    width: 99px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background: rgba(81, 141, 241, .2);
    font-size: 15px;
    color: #333;
    border-radius: 8px 8px 0px 0px;
}